
*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.arrow-left {
  box-sizing: border-box;
  background-color: #000;
  display: inline-block;
  width: 100%;
  border: 1px solid #000;
  margin: 0%;
  padding: 5px;
}

.arrow {
  display: inline;
  padding-left: 100%;
  width: 100%;
  padding: 0px;
  margin: 0%;
  float: right;
}

.container {
  box-sizing: border-box;
  background-color: #aaa;
  float: left;
  width: 420px;
  border: 2px solid #000;
  margin: 4%;
  padding: 5px;
}

.content {
  width: 100%;
  display: ;
  border-bottom: 1px solid #000;
  margin: 5px 0 2px 2px;
}

.content h1 {
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin: 1px;
}

.content h3 {
  display: block;
  margin-bottom: 2%;
}

.location {
  width: 420px;
}

.location :hover {
  width: 100%%;
  background-color: #919191;
}

nav {
  box-sizing: border-box;
  background-color: #000;
  margin: 0%;
  float: left;
  padding: 1%;
  width: 100%;
}

.restaurant-list {
padding-top: 50px;
}
