*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

section {
  width: 420px;
}

.container {  /* when scrolling the nav bar moves -- not sure where to address this*/
  box-sizing: border-box;
  background-color: #fff;
  /* float: left; moves container over to left, unresponsive*/
  /* display: inline-block; */ /*unresponsive*/
  border: 1px solid #000;
  padding-bottom: 0px;
  position: relative;
  top: 1px;
  margin: 7%;
  width: 420px;
}

nav {
  box-sizing: border-box;
  background-color: #000;
  /*float: left; doesn't do anything -- maybe needs to move within arrow-left?*/
  /* display: inline; */
  /* margin: 0px auto; */
  padding: 0;
  position: fixed;
  width: 418px;
}

.arrow-left {
  background-color: #000;
  padding: 7px;
}

.location {
  /* box-sizing: border-box;*/
  width: 420px;
  /* margin: 0px; /*moves text away from border of container*/
  /*padding: 0;*/
  border-bottom: .75px solid #000;
}

.arrow {
  box-sizing: border-box;
  display: inline;
  float: right;
  margin-right: 15px;
  position: relative;
  top: -32px;
}

/* does .fa class (within arrow) do anything?
.fa fa-chevron-right fa-2x {
  float: right;}  /*unresponsive*/

.location :hover {
  background-color: #ccc;
}

.content {
  padding: 10px 0 10px 20px;
  display: block;
  width: 80% auto;
}

h1 {
  font-weight: bold;
  font-size: 12px;
}

.restaurant-list {
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 0px:
  border: 0 0 20px 15px;
  width: 100%;  /*unresponsive*/
}
